@import url('../../.cache/wal/colors-waybar.css');

@define-color bg        #EDE8D0;
@define-color bg1       #5C3317;
@define-color fg        #332421;
@define-color red       #780606;
@define-color green     #98971a;
@define-color yellow    #d79921;
@define-color pink	#FFC5D3;
@define-color blue      #00B4D8;
@define-color purple    #b16286;
@define-color grey      #35281E;
@define-color bc        #51361A;

* {
    font-size: 14px;
    font-family: 'CodeNewRoman Nerd Font Propo', 'FontAwesome', monospace;
}

.modules-center {
    margin: 0;
    padding: 0;
}

.modules-left, .modules-right {
    margin: 0;
    padding: 0;
}

#custom-split {
    padding: 0 4px;
    margin: 0; 
    background-color: @grey;
    color: #FFFFFF;
}
#custom-space {
  margin: 0;
}

window#waybar {
    font-family: 'FontAwesome', monospace;
    background-color: transparent;
    border: 10px solid transparent;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
   
}

#window {
    padding: 0 5px;
    background-color: @grey;
    color: #FFFFFF;
    border-radius: 5px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

#idle_inhibitor,
#memory,
#temperature,
#custom-notification {
    padding: 0 10px;
    background-color: @bc;
    border: 3px solid @fg;
    color: @fg;
}

#hyprland-submap {
    padding: 0 10px;
    background-color: @fg;
    color: #FFFFFF;
}

#pulseaudio {
    padding: 0 8px;
    background-color: @bg;
    border: 1px solid @grey;
    color: @fg;
}

#pulseaudio.muted {
    background-color: @blue;
}

#workspaces {
    padding: 0; 
}

#workspaces button {
    min-width: 0;
    padding: 2px 10px;
    background-color: @bg;
    color: @bg1;
    border-radius: 0;
}

#workspaces button:first-child { border-radius: 5px 0 0 5px; }
#workspaces button:last-child { border-radius: 0 5px 5px 0; }
#workspaces button:first-child:last-child { border-radius: 5px; }

#workspaces button:hover {
    color: @purple;
}

#workspaces button.persistent {
    color: @color8;
    border: 2px solid @bg;
}

#workspaces button.active {
    background-color: @bg1; 
    color: @fg;
}

#workspaces button.urgent {
    background-color: @red;
    color: @color15;
}

#clock {
    padding: 0 10px;
    background-color: @grey;
    color: #FFFFFF;
}

#cava {
    padding: 10px 8px 0 8px;
    background-color: transparent;
    color: @fg;
}

#mpris {
  padding: 0 15px;
  background-color: @bg;
  color: @fg;
}

#mpris.playing {
    background-color: @yellow;
    color: @bg;
}

#tray {
    padding: 0 10px;
    background-color: @fg;
}

#tray menu {
    font-family: sans-serif;
}

tooltip {
    background-color: rgba(40, 40, 40, 0.9);
    border-radius: 5px;
    border: 1px solid @bg1;
}

tooltip label {
    color: @bg;
    text-shadow: none;
}

@keyframes blink {
    to {
        background-color: @fg;
        color: @bg;
    }
}
